body,
html {
  font-family: "Red Hat Display", sans-serif;
  background-color: #000;
  background-image: linear-gradient(#420cbd, #db19edb3);
  color: #fff;
  padding-top: 50px;
}

.navbar-custom {
  background-color: #000;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.7rem;
}

.nav-header-name {
  font-size: 1.67rem;
  color: #be04cf;
}

.nav-link-text:link,
.nav-link-text:visited {
  color: #cbd420;
}

.nav-link-text:hover,
.nav-link-text:focus {
  color: #20efb3;
}

.section-header {
  font-family: "Silkscreen", sans-serif;
  font-weight: bold;
  color: #cbd420;
  text-align: center;
  text-decoration: none;
  font-size: 2.5rem;
}

.intro-text {
  font-size: 1.4rem;
  text-align: justify;
}

a.hidden-link:link,
a.hidden-link:visited {
  color: #fff;
  text-decoration: none;
}

a.hidden-link:hover,
a.hidden-link:focus {
  color: #20efb3;
  text-decoration: none;
}

a.visible-link:link,
a.visible-link:visited {
  color: #fff;
  text-decoration: underline;
}

a.visible-link:hover,
a.visible-link:focus {
  color: #20efb3;
  text-decoration: none;
}

.img-fluid {
  margin-bottom: 0.5rem;
}

.img-shadow {
  box-shadow:
    0 7px 14px 0 rgba(0, 0, 0, 0.4),
    0 12px 24px 0 rgba(0, 0, 0, 0.39);
}

.body-text {
  font-size: 1.33rem;
}

.vertical-spacer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.highlight-list {
  list-style-type: none;
}

.highlight-item {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.highlight-year {
  font-size: 1.3rem;
  font-weight: bold;
}

.gallery-wrapper {
  margin: auto;
}

.gallery-text {
  color: #fff;
  text-align: justify;
  font-size: 1.33rem;
}

.gallery-title {
  color: #cbd420;
  font-weight: bold;
  font-family: "Silkscreen", sans-serif;
  text-align: center;
  font-size: 2rem;
}

.gallery-row {
  justify-content: center;
}

.gallery-row div {
  margin: 0 1% 0 1%;
}

.gallery-row ul li {
  color: #fff;
}

.img-description {
  font-size: 1.15rem;
  padding-top: 0.25rem;
  text-align: justify;
}

.final-challenges {
  list-style-type: circle;
}

.challenge-description {
  font-size: 1.15rem;
  text-align: justify;
}

.footer-bar {
  background-color: #000;
}

.footer-text {
  color: #20efb3;
  font-size: 1.15rem;
  text-align: center;
  margin: auto;
  vertical-align: center;
  padding: 10px 0 10px 0;
}
